<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Id del Autor</th>
                        <th>Nombre del Autor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody th:each="autor :${autores}">
                    <tr>
                        <td th:text="${autor.id}"></td>
                        <td th:text="${autor.nombre}"></td>
                        <td>
                            <a th:href="@{/autor/modificar/__${autor.id}__}">Modificar</a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
