<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace= "/fragments/head :: head"</head>

    <body>
        <header>
            <h2>Ingresar la editorial</h2>
        </header>
        <div>
            <form action="/editorial/registro" method="Post">
                <div>
                    <input type="text" name="nombre" placeholder="Editorial">
                </div>
                <button type="submit">subir</button>
            </form>
        </div>
    </body>
</html>
