<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div align="right">
        <a href="/logout">cerrar sesion</a>    
        </div>
        <h3>Bienvenido has iniciado sesion Correctamente! </h3>
        <div>
            <label>Lista Autores</label>
            <a href="/autor/lista">ver</a>

        </div>
        <br>
        <div>
            <label>Lista Editoriales</label>
            <a href="/editorial/lista">ver</a>

        </div>
        <br>
        <div>
            <label>Lista Libros</label>
            <a href="/libro/lista">ver</a>
        </div>
        
    </body>
</html>
