<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
     <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>panel</title>
    </head>
    <body>
        <h1>PANEL DE ADMIN</h1>
        <div>
            <a href="/autor/registrar">Registar Autor</a>
            <br>
            <a href="/autor/lista">Lista de Autores</a>
            <br>
            <a href="/editorial/registrar">Registar Editorial</a>
            <br>
            <a href="/editorial/lista">Lista de Editoriales</a>
            <br>
            <a href="/libro/registrar">Registar Libro</a>
            <br>
            <a href="/libro/lista">Lista de Libros</a>
        </div>
    </body>
</html>
